*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icons{
  position: relative;
  width: 45px;
    height: 45px;
    margin: 12px;
    border-radius: 50px;
    border: none;
    background-color: #2f74c0;
    color: white;
    box-shadow: 0 0 5px rgb(107, 104, 104);
}
.arrow{
  box-shadow: 0 0 5px rgb(107, 104, 104);
}
.body{
  background-image: url('https://ivy-clearlink.netlify.app/assets/backgroundpattern-c0621009.png');
}
.box{
  box-shadow: 0 0 5px rgb(107, 104, 104);
}